.wtags {
    display: inline-block;
    width: 100%;
    padding: 10px 10px 3px;
    max-width: 400px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.4);
    input {
        display: inline-block;
        width: 112px;
        padding: 5px 0 5px 0;
        background: transparent;
        border: none;
        font-size: 16px;
    }
}
.wtag {
    display: inline-block;
    vertical-align: top;
    padding: 0.35em 0.5em 0.45em 0.7em;
    font-size: 13px;
    background: rgba(238, 238, 238, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 7px;
    margin-bottom: 7px;
    transition: all 0.2s;
    border-radius: 1px;
    .icon {
        display: inline-block;
        font-size: 17px;
        vertical-align: text-top;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}